{% extends 'base.html.twig' %}

{% block body %}
    <h1>Stock</h1>

    <div id="product-stock" 
        data-productcount="{{ productCount }}"
        data-pagelength="{{ pageLength }}"
        data-pagecount="{{ pageCount }}"
    ></div>

{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('product-stock') }}
{% endblock %}
