
<div id="product-new" 
    data-purchaseorderid="{{ purchaseOrderId }}"
    data-salesorderid="{{ salesOrderId }}"
    data-producttypeid="{{ productTypeId }}"
></div>

{{ encore_entry_script_tags('product-new') }}

