/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
/nbproject/
thumbs.db

*~
.bash
.bash_logout
.bashrc
.cache/
.config/
.local/
.profile
.usermin/
Maildir/
etc/
fcgi-bin/
logs/

*.swp

*.cert
*.key
