<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}PDF print{% endblock %}</title>
        
        <link href="{{ absolute_url(asset('bootstrap/stylesheet/bootstrap.css')) }}" rel="stylesheet"/> 
        <style>
            .table {
                margin: 5px 15px 5px 15px;
            }

            .panel-heading {
                font-weight: bold;
            }

        </style> 
    </head>
    <body>
        
        <div class="container">
            {% block body %}
            {% endblock %}
        </div>

    </body>
</html>
