{% extends 'base.html.twig' %}

{% block title %}
    Track & Trace
{% endblock %}

{% block body %}
    Track & Trace Page!
    <ul class="nav nav-tabs">
      <li role="presentation" class="active"><a href="#">Workload</a></li>
      <li role="presentation"><a href="#">Inventaris</a></li>
      <li role="presentation"><a href="#">Verkopen</a></li>
    </ul>
{% endblock %}
