
/*
    Copiatek 
    Dark blue: #15007c
    Dark green: #006e2e
*/


body {
    color: #15007c;
    font-size: 10pt;
}

* {
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}

h1 {
    font-size: 24px;
}

a {
    color: #006e2e;
}

.form-group {
    margin-bottom: 8px;
}

.checkbox {
    padding-bottom: 10px;
}

.btn, .form-control, .input-group-addon {
    padding: 5px 10px;
    height: 35px;
}

.btn-success {
    background-color: #006e2e;
    border-color: #006e2e;
}

.radio {
    display: inline-block;
    margin-right: 10px;
}

.btn-primary {
    background-color: #15007c;
}

.btn-stock {
    margin-right: 2px;
    padding: 4px 6px 4px 6px;
    height: 31px;
}

.navbar-gradient {
    background: #006e2e;
}
.navbar-inverse .badge {
  background-color: #fff;
  color: #006e2e;
}
.text-success,
.text-success:hover {
  color: #006e2e;
}
.has-success .form-control-feedback {
  color: #006e2e;
}
.has-success .form-control:focus {
  border: 2px solid #006e2e;
}
.has-success .input-group-addon {
  border-color: #006e2e;
}
a.list-group-item-success.active {
  background-color: #006e2e;
}

.navbar-default .navbar-nav > .active{
    background: #15007c;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    background: #15007c;
}

.nav-dashboard > li > a {
    padding: 10px 3px;
}

.btn-120 {
    min-width: 120px;
}

.panel-body h5 {
    margin: 0px;
}

.panel-body-small {
    font-size: 11px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden; 
}

.panel-body-small h5 {
    font-size: 11px;
    font-weight: bold;
}

.panel-body-small ul {
    padding-left: 15px
}

.panel-body-small .row, .panel-body-small .row, .panel-body-small .col-xs-10, .panel-body-small .col-xs-2 {
    padding: 0px;
    margin: 0px;
}

.panel-dashboardsearch #form_submit {
    width: 100%;
}

.pagination > li > a {
    background-color: #006e2e;
}

.pagination > li.disabled > span {
    background-color: #bbb;
}

.pagination > li.active > span {
    background-color: #15007c;
}

.panel-filecontainer {
    height: 100px;
}

.panel-filecontainer img {
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 80%;
}

.col-filecontainer {
    padding-right: 0px;
}

.row.form-display {
    margin-bottom: 20px;
}
