{% extends 'base.html.twig' %}

{% block body %}
    <h1>Customer edit</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

    {{
     render(controller(
            'AppBundle:SalesOrder:inlist',
            { 'entity': 'AppBundle:Customer', 'id': customer.id, }
        ))
    }}
{% endblock %}
