{% extends 'base.html.twig' %}

{% block body %}
    <h1>{% trans %}Admin Page{% endtrans %}</h1>
    
    <h4><a href="#">{% trans %}View Sales{% endtrans %}</a></h4>
    <h4><a href="#">{% trans %}Manage Relations{% endtrans %}</a></h4>
    
    <h3><u>{% trans %}Product Constants{% endtrans %}</u></h3>
    <h4><a href="{{ path('admin_location_index') }}">{% trans %}Edit Locations{% endtrans %}</a></h4>
    <h4><a href="{{ path('status_index') }} ">{% trans %}Edit Statuses{% endtrans %}</a></h4>
{% endblock %}
    