{% extends 'base.html.twig' %}

{% block body %}
    <h1>Supplier edit</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('customer_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}