{% extends 'base.html.twig' %}
{% trans_default_domain "product" %}

{% block body %}
    <h1>Create a New Product</h1>
    
    {% if error_msg is defined %}
        
        {% if error_msg == 'DuplicateSku' %}
            <div class="alert alert-danger">
                <strong>Error:</strong>
                
                {% trans %} SKU code already exists.{% endtrans %}
            </div>
        {% endif %}
        
    {% endif %}
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('track_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
