{% extends "::base.html.twig" %}

{% block title %}
    {% trans %}
    Edit multiple items
    {% endtrans %}
{% endblock %}

{% block body %}
<h1>Edit multiple items</h1>

{{ test }}
{% endblock %}
