{% extends 'base.html.twig' %}

{% block title %}
    Track & Trace
{% endblock %}

{% block body %}
    {% block tabmenu %}
      {{ knp_menu_render('AppBundle:Builder:createTntMenu', {'currentClass': 'active'}) }}
    {% endblock %}
    
    {% block bodycontent %}
    
    {% endblock %}
    
{% endblock %}

{% block breadcrumb %}
  {% if bread is defined %}
    <ol class="breadcrumb">
    
      {% for crumb in bread %}
        <li>{{ crumb }}</li>
      {% endfor %}
      
    </ol>
  {% endif %}
  
{% endblock %}