{% extends 'base.html.twig' %}

{% block body %}
    
    <h2>{% trans %}Product Checklist{% endtrans %} #{{ product.sku }}</h2>
    <table class="table table-responsive">
        <tr>
            <th>Task</th>
            <th>Check</th>
            <th>Comment</th>
        <tr>
        
    </table>
    
{% endblock %}