<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Nexxus order form</title>
</head>
<body>

    This form can be used for sales order creation.<br />
    It is an example for webdesigners. <br />
    Webmaster, please note the hidden form fields as well as the jQuery AJAX POST code.<br /><br />

    <form id="orderform">

        <u>Your details</u>

        <table>
            <tr>
                <td>Name *</td>
                <td><input type="text" name="customer_name" required="required" /></td>
            </tr>
            <tr>
                <td>Representative</td>
                <td><input type="text" name="customer_representative" /></td>
            </tr>
            <tr>
                <td>Email *</td>
                <td><input type="email" name="customer_email" required="required" /></td>
            </tr>
            <tr>
                <td>Phone</td>
                <td><input type="text" name="customer_phone" /></td>
            </tr>
            <tr>
                <td>Street</td>
                <td><input type="text" name="customer_street" /></td>
            </tr>
            <tr>
                <td>Street2</td>
                <td><input type="text" name="customer_street2" /></td>
            </tr>
            <tr>
                <td>City</td>
                <td><input type="text" name="customer_city" /></td>
            </tr>
            <tr>
                <td>Zip</td>
                <td><input type="text" name="customer_zip" /></td>
            </tr>
            <tr>
                <td>State</td>
                <td><input type="text" name="customer_state" /></td>
            </tr>
            <tr>
                <td>Country</td>
                <td><input type="text" name="customer_country" /></td>
            </tr>
        </table>

        <u>Aantal eenheden</u>

        <!-- All product descriptions are allowed. Make sure the input name starts with "q" like in this example. -->

        <table>
            <tr>
                <td>Computers</td>
                <td><input type="number" name="qComputer" /></td>
            </tr>                        
            <tr>                         
                <td>Laptops basis</td>   
                <td><input type="number" name="qLaptopBasis" /></td>
            </tr>                        
            <tr>                         
                <td>Email</td>           
                <td><input type="number" name="qLaptopAdvanced" /></td>
            </tr>                        
            <tr>                         
                <td>Phone</td>           
                <td><input type="number" name="qLaptopNew" /></td>
            </tr>
        </table>

        <button type="submit">Send</button>

        <input type="hidden" name="locationId" value="1" />
        <input type="hidden" name="orderStatusName" value="Products to assign" />

    </form>

    <!-- jQuery library is required -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous">
    </script>
    <script>

    $("#orderform").submit(function (e) {

        e.preventDefault(); 

        var postData = {
            qComputers: $('[name=qComputer]').val(),
        }

        $.ajax({
            type: "POST",
            url: 'http://192.168.0.12/nexxus/web/app_dev.php/public/api/salesorder?XDEBUG_SESSION_START=4B9B301B',
            data: postData
        })
        .done(function (response) {
            console.log(response);
            // Here you should make a confirmation in the UI
        })
        .fail(function (xhr, err) {
            console.log(xhr.responseText);
            // Here you should give an error in the UI    
        });

       
    });

    </script>
</body>
</html>
