{% extends "::base.html.twig" %}

{% block title %}TrackBundle:PurchaseOrder:new{% endblock %}

{% block body %}
    
    <h1>{% trans %}Create a Purchase Order{% endtrans %}</h1>
    <a class="btn btn-success" onClick="addNewProduct()">+ Add Product</a>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
    
    <hr>
 {% endblock %}
 
 {% block javascripts %}
     <script>
         var types = {{ types|json_encode|raw }};
 
         $(document).ready(function () {
         }); 
 
         function addNewProduct() {
             var current = document.getElementById('product-list').innerHTML;
             var ptest = "bing<br>";
             
             document.getElementById('product-list').innerHTML = current+productitem;
         }
     </script>
 {% endblock %}
