{% extends "::base.html.twig" %}

{% block title %}TrackBundle:PurchaseOrder:new{% endblock %}

{% block body %}
    <h1>{% trans %}Create a Purchase Order{% endtrans %}</h1>
    <a class="btn btn-success" onClick="addNewProduct()">+ Add Product</a>

    <hr>
        <form>
            <div id="product-list" class="container">
                <h4>Product List</h4><br>
                <ol>
                {% set k = 10 %}
                {% for i in 1..k %}
                    <div class="productList-item">
                    <li class="form-group row">
                        <div class="form-group col-sm-3">
                            <label for="product-type">
                                {% trans %}Type{% endtrans %}
                            </label>
                            <select class="form-control" id="product-types" name="product-types">
                            </select>
                        </div>
                        <div class="form-group col-sm-2">
                            <label for="product-quantity">
                                {% trans %}Quantity{% endtrans %}
                            </label>
                            <input class="form-control" type="text" id="product-quantity">
                        </div>
                        <div class="form-group col-sm-6">
                            <label for="product-comments">
                                {% trans %}Comments{% endtrans %}
                            </label>
                            <input class="form-control" type="text" id="product-comments">
                        </div>
                    </li>
                    </div>
                    {% endfor %}
                </ol>
            </div>
        <hr>
            <div id="contact-info" class="container">
               <h4>Contact information</h4>
               <div class="form-group row">
                    <div class="form-group col-sm-6">
                        <b>{% trans %}Name Company{% endtrans %}</b>
                        <input class="form-control" type="text" id="contact-company">
                    </div>
                    <div class="form-group col-sm-3">
                        <b>{% trans %}Name{% endtrans %}</b>
                        <input class="form-control" type="text" id="contact-PersonFName">
                    </div>
                    <div class="form-group col-sm-3">
                        <b>{% trans %}Lastname{% endtrans %}</b>
                        <input class="form-control" type="text" id="contact-PersonLName">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="form-group col-sm-4">
                        <b>{% trans %}Phone Number{% endtrans %}</b>
                        <input class="form-control" type="text" id="contact-phone">
                    </div>
                    <div class="form-group col-sm-4">
                        <b>{% trans %}Email{% endtrans %}</b>
                        <input class="form-control" type="text" id="contact-email">
                    </div>
                    <div class="form-group col-sm-4">
                        <b>{% trans %}Pickup Date{% endtrans %}</b>
                        <input class="form-control" type="date" id="contact-pickupdate">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="form-group col-sm-10">
                        <b>{% trans %}Address{% endtrans %}</b>
                        <input class="form-control" type="text" id="contact-address">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="form-group col-sm-6">
                        <b>{% trans %}City{% endtrans %}</b>
                        <input class="form-control" type="text" id="contact-city">
                    </div>
                    <div class="form-group col-sm-6">
                        <b>{% trans %}Province{% endtrans %}</b>
                        <input class="form-control" type="text" id="contact-Province">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="form-group col-sm-6">
                        <b>{% trans %}Zipcode{% endtrans %}</b>
                        <input class="form-control" type="text" id="contact-zipcode">
                    </div>
                    <div class="form-group col-sm-6">
                        <b>{% trans %}Country{% endtrans %}</b>
                        <input class="form-control" type="text" id="contact-country">
                    </div>
                </div>
            </div>
         </form>
     <p>
         Opgehaald? Ja/Nee
     </p>
 {% endblock %}
 
 {% block javascripts %}
     <script>
         var types = {{ types|json_encode|raw }};
 
         $(document).ready(function () {
             var products = document.getElementsByClassName("productList-item");
             for(product in products) {
                console.log("hey");
             }
         }); 
 
         function addNewProduct() {
             var current = document.getElementById('product-list').innerHTML;
             var ptest = "bing<br>";
             
             document.getElementById('product-list').innerHTML = current+productitem;
         }
     </script>
 {% endblock %}
