{% extends 'admin.html.twig' %}

{% block body %}

    <div class="row" style="margin-bottom: 20px">
        <div class="col-sm-9">
            <h1>User edit</h1>
        </div>
        <div class="col-sm-3" style="padding-top: 15px">
            <a href="{{ path('admin_user_index') }}" class="btn btn-default pull-right" role="button">{% trans %}Back to the list{% endtrans %}</a><br>
        </div>
    </div>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

{% endblock %}
{% block javascripts %}
       
    <script>

        RoleFields();

        $('#user_form_role').change(function() {
            RoleFields();
        });

        function RoleFields() {

            if ($('#user_form_role').val() == "ROLE_PARTNER")
            {
                $('#user_form_locations').closest('.form-group').hide();
                $('#user_form_locations').val("");
                $('#user_form_partner').closest('.form-group').show();
            }
            else if ($('#user_form_role').val() == "ROLE_LOCAL" || $('#user_form_role').val() == "ROLE_LOGISTICS")
            {
                $('#user_form_locations').closest('.form-group').show();
                $('#user_form_partner').closest('.form-group').hide();
                $('#user_form_partner').val("");
            }
            else 
            {
                $('#user_form_locations').closest('.form-group').hide();
                $('#user_form_locations').val("");
                $('#user_form_partner').closest('.form-group').hide();
                $('#user_form_partner').val("");
            }
        }

    </script>

{% endblock %}